.head {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  background-color: var(--primary);
  border-top: 4px solid var(--dark);
}

.account-card:hover .title, .account-card:hover .title input {
  background-color: var(--light);

}

.account-card {
  background-color: var(--light);
}

.account-card input {
  display: block;
  margin: 10px auto;
  font-size: 1.5rem;
  border: none;
  text-align: center;
}

.account-card input:first-child {
  width: 100%;
  background-color: var(--primary);
}

.account-card .footer {
  display: flex;
}

.account-card .footer button, .account-card .footer a {
  display: block;
  width: 100px;
  height: 0;
  font-size: 0;
  margin: 0 auto;
  padding: 0;
  transition: 0.5s;
}

.account-card:hover .footer button, .account-card:hover .footer a {
  height: 36px;
  font-size: 1rem;  
  margin: 10px auto;
  padding: 10px;
}

@media screen and (min-width: 375px) {
  .account-card {
    padding: 10px;
  }

  .title {
    margin: -10px;
    margin-bottom: 10px;
  }

  .account-card input:first-child {
    width: auto;
  }
}