.account-card {
  padding: 10px;

  background-color: var(--light);
}

.account-card input {
  display: block;
  margin: 10px auto;
  font-size: 1.5rem;
  border: none;
  text-align: right;
}

.account-card input:first-child {
  text-align: center;
  background-color: var(--primary);
  border-top: 4px solid var(--dark);
}

.account-card input.account-name {
  width: 106%;
  margin-top: -10px;
  margin-left: -9px;
}

.footer a, button {
  width: 120px
}