header {
  max-width: var(--max-width);
  margin: auto;
}

header ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  
}

header li {
  list-style: none;
}

header li a {
  display: block;
  max-width: 80%;

}

@media screen and (min-width: 768px) {
  header ul {
    flex-direction: row;
  }

  header li {
    margin-left: 20px;
  }
  
  header li a {
    max-width: 100%;
  }
}